# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Logger.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\olcsa\RiderProjects\Logger\.idea\.idea.Logger\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
